@import "tailwindcss";


@layer base {
    h1 {
      /*font-size: var(--text-2xl);*/
      @apply text-3xl text-blue-500;
    }

  }


  @layer components {
    .card {
/*       background-color: var(--color-white);
      border-radius: var(--rounded-lg);
      padding: var(--spacing-6);
      box-shadow: var(--shadow-xl);
      color: var(--color-black); */
      @apply bg-white rounded-lg p-4 shadow-xl text-black;
    }
  }